a{text-decoration : none} 

a.black:link
{
color:black;
}

a.write{
color:#FFFFFF;
}

li.oran:hover{
background-color:orange;
}

img.line{
max-width:110%;
}
img.bigger{
width:31%;

}

ul.none{
display:none;
margin:0;
}

.appear{
display:inline;
}
.appear li:hover ul
{display:block;}

.bder{
padding:
border-bottom;
border-color:#FF8C00
}
.head{
position: fixed;
bottom:90%;
height:10%;
font-size:70%;
width:100%;
background-color:#FFFAFA;
z-index:5;
}
a.header{
position:relative;
bottom:30%;
color:#030303;
margin:1%;
font-size:175%;
}
a.header:hover{
color:#FF8C00;
}
img.hot{
position:relative;
bottom:2%;
height:20%;
width:1%;
}
img.margin2{
margin:0% 0% 1% 1%;
width:40%;
height:20%;
}
margin2:hover {
opacity:0.5;
}
div:lang(t1){
width:20%;s
height:20%;
float:left;
margin:0.5%;
background-color:write;
}
ul{
color:#6C7B8B;
}
a.block{
background-color:#FFDAB9;
padding:1%;
color:orange;

}

a.cc{
}
a.cc:hover{
opacity:0.6;
}
a.black1:link{
color:black;
}
a.black1:hover
{
color:orange;
opacity:0.6;
}


<a href="uisdc.com" style="margin:1%;" ><img src="logo.png" style="height:100%; width:10%;" ></a>  




